@model IEnumerable<HealthAssistApp.Web.ViewModels.Administration.DiseaseSymptomViewModel>

@{
    ViewData["Title"] = "Exercises";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiseaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiseaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Details" asp-route-id="">Details</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-action="Create">Create Exercise</a>
</p>
