@model IEnumerable<HealthAssistApp.Web.ViewModels.Administration.DiseasesSymptomsViewModels.DiseaseSymptomViewModel>

@{
    ViewData["Title"] = "Diseases To Symptoms";
}
<h1>Index</h1>
@if (TempData["CreateDiseaseSymptom"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["CreateDiseaseSymptom"].ToString()
    </div>
}
@if (TempData["DeleteDiseaseSymptom"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["DeleteDiseaseSymptom"].ToString()
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymptomDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DiseaseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiseaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SymptomId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SymptomDescription)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-idS="@item.IdS">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-action="Create">Create Disease Symptom</a>
</p>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a asp-action="Back" button class="btn btn-primary">Back</a>
        </div>
    </div>
</div>

