@using HealthAssistApp.Common
@model HealthAssistApp.Web.ViewModels.Diseases.DiseaseViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<div class="card-header">
    <h2>@Html.DisplayNameFor(model => model.Description)</h2>
    <p>
        @Html.Raw(Model.Description)
    </p>
    <hr />
    <h2>
        @Html.DisplayNameFor(model => model.Advice)
    </h2>
    <p>
        @Html.Raw(Model.Advice)
    </p>
</div>

