@model HealthAssistApp.Web.ViewModels.Administration.SymptomsViewModels.SymptomsAdminDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Disease </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BodySystemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BodySystemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BodySystemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BodySystemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>