@model IEnumerable<HealthAssistApp.Web.ViewModels.Administration.RecipesViewModels.RecipeAdminDetailsViewModel>

@{
    ViewData["Title"] = "Recipes";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartOfMeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@item.ImageUrl" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartOfMeal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calories)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-action="Create">Create Recipe</a>
</p>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a asp-action="Back" button class="btn btn-primary">Back</a>
        </div>
    </div>
</div>


