@using HealthAssistApp.Common
@model HealthAssistApp.Web.ViewModels.Systems.SystemsWithSymptomsQuestionnaire
@{
    this.ViewData["Title"] = @Model.Name;
}

<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<div class="text-left ">
    <p>Please check if you feel any of the following symptoms:</p>
    <form asp-action="DiseaseTest" method="post">
        <input type ="hidden" name="Name"value="@Model.Name">
        <table class="table">
            <tr>
                <th>Symptom Name</th>
                <th>Present</th>
            </tr>
            @for (var i = 0; i < Model.Symptoms.Count(); i++)
            {
                <tr>
                    <td>
                        @Model.Symptoms[i].Description
                    </td>
                    <td>
                    <input asp-for=@Model.Symptoms[i].Selected type="checkbox" />
                        <input type="hidden" asp-for="@Model.Symptoms[i].Description" />
                    </td>
                </tr>
            }
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
