@using HealthAssistApp.Common
@using System.Linq;
@model HealthAssistApp.Web.ViewModels.HealthDosier.HealthDosierOverview
@{
    this.ViewData["Title"] = "Health Dosier";
}

<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<hr />
<div class="card-header">
    <div class="text-left ">
        <h2 class="text-center">Your Health Parameters</h2>
        <table class="table">
            <tr>
                <th>Age</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Body Mass Index</th>
                <th>Water Per Day</th>
            </tr>
            <tr>
                <td>@Model.HealthParameters.Age</td>
                <td>@Model.HealthParameters.Weight</td>
                <td>@Model.HealthParameters.Height</td>
                <td>@Model.HealthParameters.BodyMassIndex</td>
                <td>@Model.HealthParameters.WaterPerDay</td>
            </tr>
        </table>
    </div>
</div>
<hr />
@if (Model.Diseases.Count() > 0)
{
<div class="row">
    <p>The HealthDosier Medical Analyser detected that there is a high chance that you have any of the following disease/s:</p>
    @foreach (var disease in Model.Diseases)
    {
        <div class="col-md-4 media">
            <div class="media-body">
                <h5 class="mt-0">
                    <a href="/Diseases/@disease.Name">
                        @disease.Name
                    </a>
                </h5>
                @disease.Advice
            </div>
        </div>
    }
</div>
}
<p></p>
<hr />
<div class="row"></div>
