@using HealthAssistApp.Common
@using System.Linq;
@using HealthAssistApp.Data.Models.Enums
@model HealthAssistApp.Web.ViewModels.HealthDosier.HealthDosierOverview
@{
    this.ViewData["Title"] = "Health Dosier";
}

<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<hr />
<div class="card-header">
    <div class="text-left ">
        <h2 class="text-center">Your Health Parameters</h2>
        <table class="table">
            <tr>
                <th>Age</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Body Mass Index</th>
                <th>Water Per Day</th>
            </tr>
            <tr>
                <td>@Model.HealthParameters.Age</td>
                <td>@Model.HealthParameters.Weight</td>
                <td>@Model.HealthParameters.Height</td>
                <td>@Model.HealthParameters.BodyMassIndex</td>
                <td>@Model.HealthParameters.WaterPerDay</td>
            </tr>
        </table>
        <div class="span12" style="text-align:center"><a href="/HealthParameters/Modify/@Model.UserId" class="btn btn-primary">Modify</a></div>
    </div>
</div>
<hr />
@switch (Model.NutritionalStatus)
{
    case NutritionalStatus.Normal:
        <p>Your Body Mass Index indicates that your nutritional status is normal. Keep a good diet and regular exercises to keep it that way.</p>
        break;
    case NutritionalStatus.Underweight:
        <p>Your Body Mass Index indicates that you are underwweight. It would be preferable if you increased your calories intake.</p>
        break;
    case NutritionalStatus.ObesityI:
        <p>Your Body Mass Index indicates that you are slightly obese. It would be preferable if you reduced your calories intake and tried some exercises.</p>
        break;
    case NutritionalStatus.ObesityII:
        <p>Your Body Mass Index indicates that you are obese. It would be preferable if you reduced your calories intake and tried some exercises.</p>
        break;
    case NutritionalStatus.ObesityIII:
        <p>Your Body Mass Index indicates that you are severly obese. It would be preferable if you take serious measurements to reduce your calories and better your physical condition.</p>
        break;
    default:
        break;
}
<hr />
@if (Model.Diseases.Count() > 0)
{
    <p>The HealthDosier Medical Analyser detected that there is a high chance that you have any of the following disease/s:</p>
    @foreach (var disease in Model.Diseases)
    {
        <div class="col-md-4 media">
            <div class="media-body">
                <h5 class="mt-0">
                    <a href="/Diseases/@disease.Name">
                        @disease.Name
                    </a>
                </h5>
                @disease.Advice
            </div>
        </div>
    }
}
<hr />
<p>You can check and modify your allergies here:</p>
<a href="/Allergies/@Model.UserId" class="btn btn-primary">View</a>
<hr />
<p>You can check your Food Regimen:</p>
<a href="/FoodRegimens/@Model.Id" class="btn btn-primary">View</a>
<hr />
<p>You can check your Workout Program:</p>
<a href="/WorkoutPrograms/@Model.Id" class="btn btn-primary">View</a>
<hr />
<div class="row"></div>
